@mixin font-h($number: 1) {
  font-weight: 700;
  line-height: 1.3;
  @if $number == 1 {
    font-size: rem(40px);
  } @else if $number == 2 {
    font-size: rem(34px);
  } @else if $number == 3 {
    font-size: rem(28px);
  } @else if $number == 4 {
    font-size: rem(24px);
  }
}

@mixin font-body($number: 1) {
  font-style: normal;
  letter-spacing: 0.15px;
  line-height: 1.3;
  @if $number == 1 {
    font-size: rem(16px);
  } @else if $number == 2 {
    font-size: rem(14px);
  } @else if $number == 3 {
    font-size: rem(12px);
  } @else if $number == 4 {
    font-size: rem(20px);
  }
}

@mixin dfc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin dfcc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin dfjb {
  display: flex;
  justify-content: space-between;
}

@mixin alignTop {
  top: 50%;
  transform: translateY(-50%);
}

@mixin fmob {
  @media screen and(max-width: $mobile) {
    @content;
  }
}

@mixin ftab {
  @media screen and(max-width: $tab) {
    @content;
  }
}

@mixin bm {
  margin-bottom: rem(120px);
  @include ftab {
    margin-bottom: rem(80px);
  }
  @include fmob {
    margin-bottom: rem(60px);
  }
}

@mixin hm {
  margin-bottom: rem(32px);
  @include ftab {
    margin-bottom: rem(24xp);
  }
  @include fmob {
    margin-bottom: rem(16px);
  }
}

@mixin halfgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: rem(32px);
}
